* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

#string {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
