* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

#box {
  height: 200px;
  width: 200px;
  background-color: red;
}

#box1 {
  height: 200px;
  width: 200px;
  background-color: red;
}

#box2 {
  height: 200px;
  width: 200px;
  background-color: green;
}

#box3 {
  height: 200px;
  width: 200px;
  background-color: blue;
}
